<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeApp.Properties.Settings.CafeDatabaseConnectionString"
            connectionString="Data Source=ASUS-PC;Initial Catalog=CafeDatabase;Persist Security Info=True;User ID=Ani;Password=0202"
            providerName="System.Data.SqlClient" />
        <add name="CafeApp.Properties.Settings.CafeDatabaseConnectionString1"
            connectionString="Data Source=ASUS-PC;Initial Catalog=CafeDatabase;Persist Security Info=True;User ID=Admin;Password=0202"
            providerName="System.Data.SqlClient" />
        <add name="CafeApp.Properties.Settings.CafeDatabaseConnection"
            connectionString="Data Source=HP-OMEN;Initial Catalog=CafeDatabase;Persist Security Info=True;User ID=Admin;Password=0202"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>